.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html, body {
   background-color: black;
   background-image: url("../images/backgroundbattle.jpg");
   background-size: cover;
   background-position: center top;
   width: 100%;
   height: 100%;
}

.gameArea {
    margin-left: 10%;
    margin-right: 10%;
}

header {
    color: black;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
    float: right;
    margin-right: 10%;
    margin-top: 5%;
    font-size: 40px;
}

p {
    color: red;
}

.character {
    height: 150px;
    width: auto;
    float: left;
    border: 1px solid red;
    padding: 5px;
    margin: 5px;
}

.characterBox {
    float: left;
    position: relative;
}

.characterText {
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    bottom: 10px;
    text-align: center;
    width: 100%;
    position: absolute;
}

.characterHealth {
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    top: 10px;
    text-align: center;
    width: 100%;
    position: absolute;
}

h2 {
    color: red;
}

.selectedCharacter {
    height: 225px;
}

.remainingOpponents {
    height: 225px;
}

.currentOpponent {
    height: 225px;
}

.fightControls {
    height: 100px;
}

.damageReport {
    color: orangered;

}